* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)) , url('/wallpaper/skiller_wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    height: 20vh;
    overflow: hidden;
}

.title > h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
    font-family: 'Haettenschweiler';
    letter-spacing: 10px;
}

.items {
    display: flex;
    justify-content: space-evenly;
    height: 65vh;
    overflow: hidden;
}

.item1 , .item3 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2 {
    width: 70%;
    display: flex;
    justify-content: center;
}

.item2 > img {
    height: 100%;
    width: auto;
}

.item1 > img , .item3 > img {
    width: 70%;
    cursor: pointer;
}

.item1 > img {
    transform: rotate(0.5turn);
}

audio {
    display: none;
}

#volume {
    width: 3.5%;
    margin:15px 0 0 5%;
    cursor: pointer;
}

#playPause {
    width: 3.5%;
    margin:15px 0 0 17%;
    cursor: pointer;
}

@media screen and (max-width:660px) {
    .item1 > img , .item3 > img {
        width: 100%;
    }

    #volume , #playPause{
        width: 5.5%;
        margin:15px 0 0 10%;
    }
}

@media screen and (max-width:420px) {
    .item1 , .item3 {
        width: 14%;
    }

    .item1 > img {
        margin-left: 8px;
    }
    
    .item3 > img {
        margin-right: 8px;
    }
    
    .item2 {
        width: 66%;
    }

    #volume , #playPause{
        width: 8%;
        margin:15px 0 0 10%;
    }
}